{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "globals": {
    "expect": true,
    "shallow": true,
    "render": true
  },
  "rules": {
    "babel/new-cap": 0,
    "indent": ["error", 2, {SwitchCase: 1}],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "semi": ["error", "never"],
    "strict": 0,
    "no-case-declarations": 2,
    "no-console": 0
  }
}
